.flex-container {
    display: flex;
    background-color: DodgerBlue;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content:space-around; */
    /* justify-content:space-evenly; */
    /* justify-content:flex-end ; */
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
    flex-direction: flex;
  }

  
.flex-container > div {
    background-color: #f1f1f1;
    /* margin: 10px;
    padding: 20px; */
    font-size: 30px;  
    background-color: yellow;
    width: 45%;
}
