/* police d'ecriture voir lien sur google (a mettre au debut du code html )ou dl ou deja sur vscode grace à "font-family" */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* dans etoile le changement de couleur est plus fort */
  color: white;
}

body {
  /* font-family utiliser ici est pour l'exemple */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

img{
display: block;

}


header {
  height: 80;
  background-image: linear-gradient(to bottom,rgb(143, 210, 143), rgb(60, 203, 60));
  display: flex;
  /* on peut utiliser = list-style: none a la place de "list-style-type"*/
  justify-content: space-between;
  align-items: center;
}

.list-item {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.item {
  padding: 15px;
}

.barre-info {
  padding: 4px;
  /* ou height */
  /* width: 100%; */
  border: 4px double white;
  background-color: rgb(60, 203, 60);
}

main{
border-radius: 10px;
display: flex;

}

section{
  border-radius: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  /* box-shadow: ; a rajouter*/
}

section > div{
width: 50%;
margin: 20px;
}


section > div > img{
  margin: auto;
  border-radius: 50%;
display: block;
width: 300px;
height: 300px;
}


section:first-child{
  background-image: linear-gradient(to bottom,rgb(181, 170, 222), rgb(117, 74, 236));
}

section:nth-child(2){
  background-image: linear-gradient(to bottom,rgb(181, 170, 222), rgb(117, 74, 236));
  flex-direction: row-reverse;
}

section:last-child{
  background-image: linear-gradient(to bottom,rgb(181, 170, 222), rgb(117, 74, 236));
}
